<%= stylesheet_link_tag "item_index", :media => "all" %>



<div class="research">
  <h3>フリーワードで検索する</h3>

  <%= form_tag({controller:"items",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索' , class: "research-btn"  %>
  <% end %>
</div>

<div class="tag">
  <h3>カテゴリーで検索する</h3>
  <%= form_tag({controller:"items",action:"index"}, method: :get) do %>
    <% @tags.each do |t| %>
        <ul><%= check_box :tag_ids, t.name %><%= t.name %></ul>
    <% end %>
    <div class="actions">
    <%= submit_tag '検索' , class: "research-btn" %>
    </div>
  <% end %>

  
</div>

<div class="title">
<h3>アイテム一覧</h3>
<%= page_entries_info @items %>
</div>

<div class="items-container">


  <% @items.each do |t| %>
    <div class="item">
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <div class="item-main">
        <%= t.user.email %>
        <%= t.post_genre %>
        <%= t.item_genre %>
        <%= t.price %>
        <%= t.status %>
        <%= t.memo %>
      </div>

      <div>
      <h2>総合評価：
      <span class="star-rating">
        <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
        <span class="star-rating-back">★★★★★</span>
      </span> 
      </h2>
      </div>
      
      <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
              <%= link_to item_like_path(id: t.id, item_id: t.id), method: :delete do %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
              <% end %>
            <% else %>
              <%= link_to item_likes_path(id: t.id, item_id: t.id), method: :post do %>
                <i class="far fa-heart"></i><%= t.likes.count %>
              <% end %>
          <% end %>
        <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
      <% end %>

      <%= t.created_at %>
      <%= link_to "詳細へ", item_path(t.id) %>
      <% if user_signed_in? && current_user.id == t.user_id %>  
        <%= link_to "編集する", edit_item_path(t.id) %>
        <%= button_to "削除する", item_path(t.id), method: :delete %>
      <% end %>
      
    </div>
  <% end %>
  
  <% @rank_items.each do |t| %>
  <% end %>
</div>



<div class="paginate">
  <%= paginate @items, class: 'page' %>
</div>
